genBlock{
    border: 1px solid;
    width: 60%;
    height: 800px;
}
.block, .blockqunstanuma{
    border: 1px solid;
    width: 31%;
    height: 420px;
    display: inline-block;
    margin-top: 20px;
    margin-left: 22px;
    float: left;
}
.block img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}
.block b{
    display: block;
}
.block button{
    color: white;
    background-color: black;
    display: block;
    height: 26px;
    margin-left: 5px;
    margin-top: 5px;
}
.blockqunstanuma img{
    width: 100px;
    height: 100px;
    margin-top: 5px;
    margin-left: 5px;
    object-fit: cover;
}
.blockqunstanuma b{
    display: block;
}
.elem{
    background: rgb(190, 190, 190);
    width: 30%;
    height: 30%;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}